* {
    margin: 0;
    padding: 0;
    border: 0;
}
html body{
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 96, 96);
}


/*parte alta della schermata con il segna turno e il menù*/
#containerTurno{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
#bandaSinistra{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
}
#menu{
    font-size: 30px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid black;
    margin-left: 20px;
}
#bandaDestra{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
}
#scritteTurno{
    font-size: 30px;
    font-family: fantasy;
    margin-right: 10px;
}
#turno{
    width: 85px;
    height: 85px;
}

#menu:hover {background-color: rgba(219, 218, 218, 0.274);}


/*parte che contiene tutte le caselle di gioco*/
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 820px;
    max-width: 820px;
}
.item{
    width: 85%;
    height: 85%;
}
.itemGrande{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.grande {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
}
#grande1 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#grande2 {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
#grande3 {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
#grande4 {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#grande5 {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#grande6 {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#grande7 {
    border-right: 2px solid black;
    border-top: 2px solid black;
}
#grande8 {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}
#grande9 {
    border-left: 2px solid black;
    border-top: 2px solid black;
}
.piccolo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    width: 31.5%;
    height: 31.5%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.piccolo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    width: 31.5%;
    height: 31.5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.piccolo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    width: 31.5%;
    height: 31.5%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.piccolo4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.5%;
    height: 31.5%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.piccolo5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.5%;
    height: 31.5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.piccolo6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.5%;
    height: 31.5%;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.piccolo7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    width: 31.5%;
    height: 31.5%;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.piccolo8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    width: 31.5%;
    height: 31.5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.piccolo9 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    width: 31.5%;
    height: 31.5%;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.piccolo1:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo2:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo3:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo4:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo5:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo6:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo7:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo8:hover {background-color: rgba(219, 218, 218, 0.274);}
.piccolo9:hover {background-color: rgba(219, 218, 218, 0.274);}